---
import Link from '../components/Link.astro';
import Button from '../components/Button.astro';
import Menu from '../components/Menu.astro';
import SectionOne from '../components/SectionOne.astro';
import SectionFour from '../components/SectionFour.astro';
import SectionFive from '../components/SectionFive.astro';
import SectionSix from '../components/SectionSix.astro';
import SectionSeven from '../components/SectionSeven.astro';
import SectionFooter from '../components/SectionFooter.astro';






const { variant } = Astro.props;

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<link rel="stylesheet" href="/src/styles/global.css">
	</head>


    <Menu variant="primary"></Menu>
    <SectionOne></SectionOne>
<SectionFour></SectionFour>
<SectionFive></SectionFive>
<SectionSix></SectionSix>
<SectionSeven></SectionSeven>
<SectionFooter></SectionFooter>





