---
const {data}= Astro.props;
export async function getStaticPaths() {
    const data = await fetch("https://imjdmcgmdwbkbdjzddpa.supabase.co/rest/v1/bananabars", {
	method: "GET",
	headers: { 
		apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImltamRtY2dtZHdia2JkanpkZHBhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzM3NDAxMzUsImV4cCI6MjA0OTMxNjEzNX0.YAgM6xcBNBhefXYuuhckSCtcjZkrTGcmzE8y4itwCgE"
	},
}).then(response => response.json());

    return data.map((navn) => {
        return {
            params: { slug: navn.slug },
            props: { myData:navn },
        };
    });
}
const { myData } = Astro.props
console.log(myData);
---
<a href={`bars/${data.slug}`} class="card">
<article>
<img src= {"/imgs/"+data.img} alt="bar">
    <p class="micro">{data.ingrediens}</p>
    <p class="link">{data.navn}</p>
    </a>

</article>
<style>
img {
max-width: 100%;
}

.boost_p, .focus_p, .recharge_p {
color: #000;
text-align: center;
font-family: "PP Editorial New";
font-size: 15px;
font-style: italic;
font-weight: 400;
line-height: 120%; 
}
button {
color: #000;
text-align: center;
font-family: "Helvetica Neue";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 120%; 
text-decoration-line: underline;
}
.produkt_bottom, .recharge_bottom, .boost_bottom {
padding-bottom: 8%;
text-align: center;
}
.recharge_bottom {
padding-bottom: 20%;
}

/* Deksktop */
@media (min-width: 600px) 
{
.grid_section2 {
 display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 1rem;
  margin-right: 5%;
    margin-left: 5%;
 }


.boost_p, .focus_p, .recharge_p  {
color: #000;
text-align: center;
font-family: "PP Editorial New";
font-size: 15px;
font-style: italic;
font-weight: 400;
line-height: 120%;
}
}


</style>