---
import Link from "./Link.astro";
const { variant } = Astro.props;
import SectionSix from "./SectionSix.astro";
import Section2 from "./Section2.astro";
import Section3 from "./Section3.astro";

const navLinks =
[
  {
      linkText: 'MISSION',
      href: '#SectionSix',
  },
  {
      linkText: 'ENERGY BARS',
      href: '#Section2',
  },
   {
      linkText: 'JOIN THE COMMUNITY',
      href: '#Section3',
  },
]

const links = navLinks.map((link) => ({
    linkText: link.linkText,
    href: link.href
}))

console.log(links)
---

<body>
    
<div class="hamburger">
   <span></span>
   <span></span>
   <span></span>
</div> 

<nav class="menu">
   {
      navLinks.map((navLink) => (
        <a href={navLink.href}>{navLink.linkText}</a>
      ))
   }
</nav>




<style>

  nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
  }
  

  /* Baslayout */
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    z-index: 1000;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 70%);
    
  }

  .menu-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 20px;

  }



  /* Hamburgermeny (dold som standard) */
  .hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 70px;
    height: 60px;
    cursor: pointer;
    padding: 15px;
  }

  .hamburger span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #FEF8E2;
  }

  @media (max-width: 768px) {
    .hamburger {
      display: block;
      z-index: 10000;
    }

    .menu-links {
      flex-direction: column;
      align-items: left;
      background-color: #67815A;
      width: 100%;
      position: absolute;
      top: 0px;
      right: 0;
      padding: 30px;
    }

    .hidelinks  {
      display: none;
    }

    .menu-links.active {
      display: flex;
    }

    .logo {
      display: none;
    }



    .left-links,
    .right-link {
      margin-bottom: 10px;
    }
  }
</style>

<script>
const hamburger = document.querySelector('.hamburger');
const menuLinks = document.querySelector('.menu-links');

hamburger.addEventListener('click', () => {
    menuLinks.classList.toggle('hidelinks');
});
</script>

  

</body>
  
