---
import Link from "./Link.astro";
---

<div class="hero-container">
  <div>
    <img src="/img/herobild.webp" alt="herobild" class="hero-image">
  </div>
    
    
    <div class="hero-text">
      <h3>WE DON’T SELL BARS.</h3>
      <h1>WE FUEL A PEOPLE-POWERED MOVEMENT FOR A GREENER FUTURE.</h1>
      <Link variant="primary">EXPLORE ENERGY BARS →</Link>
    </div>
  </div>
  
  <style>
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
  
    .hero-container {
      position: center;
      width: 100%;
    }

    @media (max-width: 1000px) {
    .hero-image {
      height: 130vh; /* Använd viewport height för att göra bilden högre */
        min-height: 500px; /* Sätt en minimihöjd för säkerhets skull */
        object-fit: cover;    }
  }

  @media (max-width: 768px) {
    .hero-text {
      max-width: 50ch; 
    }

    
  }

    .hero-text {
        display: grid;
        align-items: center;
    }
  
    .hero-image {
      width: 100%;
      display: block;
      top: 0;
    }

  
  
    .hero-text {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: center;
    color: white;
    padding: 10px;
    max-width: 65ch; 
    width: 90%;
}
  
    .hero-text h3 {
      color: #FEF8E2;
text-align: center;
font-family: "Helvetica Neue";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 120%; 
    }
  
    .hero-text h1 {
      color: #FEF8E2;
text-align: center;

font-family: "PP Editorial New";
font-size: 48px;
font-style: italic;
font-weight: 400;
line-height: 120%; 
padding-top: 20px;
padding-bottom: 20px;

    }
  

  
  </style>
  