<div class="section5_container">
    <img src="img/gifmaker_me copy.gif" alt="gif" class="background_image">
    <img src="img/banana_pattern.png" alt="pattern" class="pattern">
  </div>
  
  
  <style>
  
  img{
    max-width: 100%;
  
  }
  
  body {
    margin: 0;
  }
     
  
  .section5_container {
    position: relative; 
    display: inline-block; 
      margin: 0;
    padding: 0;
  
  }
  
  .background_image {
    display: block;
    width: 1500px;
  }
  
  .pattern {
    position: absolute; 
    bottom: 0; 
  }
  
  </style>