---
const {data} = Astro.props;
console.log(data);
---

<section class="product_grid">
  <article>
    <h1>{data.navn}</h1>
 
    <img src="img/bar.png" alt="bar">
  
      <div>
            <p>{data.info}</p>
            <p class="liste"></p>
 
             <button>
                coming soon
                </button>
         </div>
        
   
</div>
       
   </article>
</section>
 
 
<style>
 
body {
  background-color: #FEF8E2;
}
 
h1
{
color: #000;
text-align: center;
font-family: "PP Editorial New";
font-size: 40px;
font-style: italic;
font-weight: 380px;
line-height: 60px; /* 60px */


}
 
.liste {
padding-top: 10%;
margin left: 2%;
 
 
}
button {
    padding-bottom: 1%;
    margin-top: 10%;
}
 
p,
.liste
{
color: #000;
font-family: "Helvetica Neue";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 150%;
 
}
 
 
.bar {
width: 791px;
height: 787px;
flex-shrink: 0;
border: 0px solid #FFF;
}
 
  .liste li::before {
    content: "✓ ";
    font-weight: bold;
  }
 
  li {
    list-style-type: none;
    }
 
/* CSS RESET */
 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
    img {
        width: 100%;
        height: auto;
        display: block;
    }
 
    /* ALT EFTER DETTE ER WEBSITE */
 
@media (min-width: 600px) {
.product_grid {
display: grid;
grid-template-columns: 1fr 1fr ;
gap: 10%; }
 
h1 {
   
color: #000;
text-align: center;
font-family: "PP Editorial New";
font-size: 55px;
font-style: italic;
font-weight: 400;
line-height: 120%; /* 76.8px */
padding-top: 5%;
 
/* Mobile/H1 */
 
 
}
 
}
 
h1 {
grid-column: 1 /-1 ;   
 
}
 
</style>
 